*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cont1{
    height:100vh;
    width:100%;
    display: grid;
    grid-template-columns: repeat(10,1fr );
    grid-template-rows: repeat(10, 1fr);
    background-color: rgb(207, 216, 216);
}
.navbar{
    display: flex;
    grid-column: 1/11;
    grid-row: 1/2;
    background-color: rgb(234, 238, 238);
    /* justify-content: end; */
    /* align-items: center; */
}
.nav{
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    height: 90%;
    width:60%;
    /* background-color: red; */
    justify-content: end;
    align-items: center;
    margin-left: auto;
    gap: 15px;
}
.item{
    /* background-color: blue; */
    margin-left: 50rem;
    margin: 10px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
    gap: 0px;
    text-transform: uppercase;
}
.name{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content:start;
    align-items: center;
    /* background-color: bisque; */
     margin-left: auto;
     text-decoration: underline;
}
.heroection{
    display: flex;
    grid-column: 1/11;
    grid-row: 2/11;
    /* background-color: brown; */
}
.part1{
    height: 100%;
    width: 55%;
    /* background-color: coral; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.midbox{
   height: 60%;
   width:75%;
    /* background-color: aqua; */
    margin-right: 2rem;
}
.P20{
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: wavy;
    text-transform: capitalize;
}
.P50{
    font-size: 60px;
    font-weight: bold;
    text-decoration: wavy;
    text-transform: capitalize;
}
.P50 p{
    color: rgb(91, 91, 92);
   /* animation: 3s ease-in 1s infinite; */
}
.P30 button{
    margin-top: 15px;
   margin-left: 10px;
     font-size: 15px;
    font-weight: bold;
    text-decoration: wavy;
    text-transform: capitalize;
}
.part2{
    border: 6px solid rgb(56, 56, 56);
    border-radius: 30px;
    margin-top: 3.5rem;
    height: 85%;
    width: 28%;
    /* background-color: darkcyan; */
    overflow:hidden;
}
.part2 img{
    object-fit:cover;
    margin-bottom: 2rem;
}

/* container 2 is starting  */
.cont2{
    height:100vh;
    width:100%;
    background-color: rgb(207, 216, 216);
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
}
.aboutMe{
    grid-column: 1/10;
    grid-row: 1/2;
    background-color: rgb(221, 150, 150);
    width:80%;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutMe p{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
   text-decoration: underline;
}